<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekdays</title>
  </head>
  <body>
    <% const weekDay1 = 'Friday'; %> <% const weekDay2 = 'Saturday'; %> <%
    if(today.includes(weekDay1) || today.includes(weekDay2)){ %>
    <div style="color: green"><%=today%></div>
    <% }else{ %>
    <div style="color: red"><%=today%></div>
    <% } %>
  </body>
</html>
